<html>

<head>
</head>

<body>

<h1>Select a Plan</h1>

<form>

<table>
	<tr>
		<td>
	
		<h2>Free</h2>
		  <script
		    src="https://checkout.stripe.com/checkout.js" 
		    class="stripe-button"
		    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
		    data-amount="0"
		    data-name="Store-Name"
		    data-description="Subscription Description"
		    data-allow-remember-me='false'
		    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
		    data-locale="auto"
		    data-zip-code="true"
		    data-email='customer@email.com'
		    data-panel-label="Subscribe for {{ amount }} a month"
		    data-label="Subscribe">

		  </script>
  		</td>

		<td>
	
		<h2>Bronze $30</h2>
		  <script
		    src="https://checkout.stripe.com/checkout.js" 
		    class="stripe-button"
		    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
		    data-amount="3000"
		    data-name="Store-Name"
		    data-description="Subscription Description"
		    data-allow-remember-me='false'
		    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
		    data-locale="auto"
		    data-zip-code="true"
		    data-email='customer@email.com'
		    data-panel-label="Subscribe for {{ amount }} a month"
		    data-label="Subscribe">

		  </script>
  		</td>

		<td>
	
		<h2>Silver $40</h2>
		  <script
		    src="https://checkout.stripe.com/checkout.js" 
		    class="stripe-button"
		    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
		    data-amount="4000"
		    data-name="Store-Name"
		    data-description="Subscription Description"
		    data-allow-remember-me='false'
		    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
		    data-locale="auto"
		    data-zip-code="true"
		    data-email='customer@email.com'
		    data-panel-label="Subscribe for {{ amount }} a month"
		    data-label="Subscribe">

		  </script>
  		</td>
  	</tr>

  </table>


</form>
</body>

</html>